#  Local .terraform directories
.terraform/

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# tardigrade-ci
.tardigrade-ci
tardigrade-ci/

# python caches
tests/__pycache__/

# terraform lock-file
.terraform.lock.hcl
